.app_dark_theme {
    --bg-color: rgb(12 12 131);
    --inverted-bg-color: rgb(189 189 204);
    --primary-color: rgb(11 153 11);
    --secondary-color: rgb(14 235 14);
    --inverted-primary-color: rgb(22 3 92);
    --inverted-secondary-color: rgb(41 37 248);

    // skeleton
    --skeleton-color: #1515ad;
    --skeleton-shadow: #2b2be8;

    // code
    --code-bg: #1212a1;
}
